---
layout: default
---
<h1>Hi</h1>

<p>My name is Laurence Roberts, I'm a developer who makes websites and games.</p>

<p>
    Here you'll find stuff on
    <a class="tag tag-python" href="/blog/tag/python">python</a>,
    <a class="tag tag-javascript" href="/blog/tag/javascript">javascript</a>,
    <a class="tag tag-php" href="/blog/tag/php">php</a>
    and <a class="tag tag-codeclub" href="/blog/tag/codeclub">codeclub</a>.
</p>

<p>You can find all my open-source code at <a href="//github.com/lsjroberts">github</a>.</p>

<section class="blog-list">
    {% for page in site.posts %}
        {% include post.html %}
    {% endfor %}
</section>