html,
body,
div {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
  color: #555;
}
body {
  /*background: url('bg.png') repeat center center #fff;*/
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
#site-nav .diamonds {
  position: relative;
  margin: 200px auto;
  width: 206px;
  transition: all .3s ease;
}
#site-nav .diamonds.small {
  margin: 20px auto;
  -webkit-transform: scale(0.7, 0.7);
}
#site-nav .diamond {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  opacity: .5;
  background: #ccc;
  -webkit-transform: rotate(45deg);
  transition: all .3s linear;
}
#site-nav a.diamond:hover {
  z-index: 2;
  opacity: .8;
}
#site-nav a.red {
  background: #c03435;
}
#site-nav a.dark-orange {
  background: #e08226;
}
#site-nav a.orange {
  background: #eca531;
}
#site-nav a.light-orange {
  background: #f9c43a;
}
#site-nav a.lighter-orange {
  background: #ffd53f;
}
#site-nav .row {
  position: relative;
  height: 72px;
}
#site-nav .diamond.pull-1 {
  left: -72px;
}
#site-nav .diamond.push-1 {
  left: 72px;
}
#site-nav .diamond.pull-2 {
  left: -144px;
}
#site-nav .diamond.push-2 {
  left: 144px;
}
.large-12 .diamonds {
  -webkit-transform: scale(1.2, 1.2);
}
#site-content {
  margin-top: 20px;
}
#site-content h3 {
  margin: 2em 0 1em;
}
#site-content h4 {
  margin: 2em 0 1em;
}
#site-content h5 {
  margin: 2em 0 .5em;
}
#site-content small {
  font-size: .8em;
}
#site-content aside {
  margin: 40px 0;
  padding: 40px;
  background: #fdf6f6;
}
#site-content ul,
#site-content ol {
  margin-left: 1.1em;
}
#site-content a:hover {
  text-decoration: underline;
}
#site-content code {
  padding: .3em .5em;
  font-family: Consolas, "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: .9em;
  color: #000;
  background: #ddd;
}
#site-content pre.prettyprint {
  margin: 1em 0 2em;
  padding: 20px;
  border: 0;
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: .9em;
  line-height: 1.9em;
  color: #e9e4e5;
  background-color: #333;
}
#site-content pre.prettyprint ol.linenums {
  padding-left: 2em;
}
#site-content pre.prettyprint ol.linenums li {
  list-style-type: decimal !important;
  background: none;
}
#site-content pre.prettyprint .pln {
  color: #e9e4e5;
}
#site-content pre.prettyprint .str {
  color: #bcd42a;
}
#site-content pre.prettyprint .kwd {
  color: #4bb1b1;
}
#site-content pre.prettyprint .com {
  color: #888888;
}
#site-content pre.prettyprint .typ {
  color: #ef7c61;
}
#site-content pre.prettyprint .lit {
  color: #bcd42a;
}
#site-content pre.prettyprint .pun,
#site-content pre.prettyprint .opn,
#site-content pre.prettyprint .clo {
  color: #ffffff;
}
#site-content pre.prettyprint .tag {
  color: #4bb1b1;
}
#site-content pre.prettyprint .atn {
  color: #ef7c61;
}
#site-content pre.prettyprint .atv {
  color: #bcd42a;
}
#site-content pre.prettyprint .dec,
#site-content pre.prettyprint .var {
  color: #660066;
}
#site-content pre.prettyprint .fun {
  color: #ff0000;
}
#site-content pre.filename {
  display: inline-block;
  margin-bottom: -1em;
  border: 0;
  min-width: 70%;
  font-family: Consolas, "Courier New", Courier, monospace;
  color: #c03435;
}
#site-content blockquote {
  padding: 1em;
  color: #fff;
  background: #d76a6b;
}
#site-content blockquote strong,
#site-content blockquote p {
  color: #fff;
}
#site-content blockquote a {
  color: #ffa;
}
#site-content blockquote a:visited {
  color: #ffd;
}
#site-content blockquote a:hover {
  color: #ff0;
}
#site-content blockquote :last-child {
  margin-bottom: 0;
}
a.tag {
  padding: .3em .5em;
  font-family: Consolas, "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: .9em;
  color: #fff;
  background: #2ba6cb;
}
