<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title>{{ title }} | gelatindesign</title>
        {% else %}
            <title>gelatindesign | a coder making websites + games</title>
        {% endif %}

        <link rel="shortcut icon" href="/assets/images/icon.png">

        <link media="all" type="text/css" rel="stylesheet" href="/assets/styles/master.css">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-18813637-1', 'gelatindesign.co.uk');
            ga('send', 'pageview');

        </script>

        <script src="/assets/scripts/d3.v3.min.js" charset="utf-8"></script>
        <script src="/assets/scripts/nv.d3.min.js" charset="utf-8"></script>
    </head>
    <body>
        {% if not image %}
            {% set image = '/assets/images/logo-header.png' %}
        {% endif %}

        <a href="/"><img class="header" src="{{ image }}" alt="{{ title }}"></a>

        <div id="site-content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>