<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/assets/styles/vendor/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/styles/vendor/foundation.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/styles/app.css" | prepend: site.baseurl }}">

</head>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

     <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="shortcut icon" href="/assets/images/icon.png">

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18813637-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>