// http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0
@mixin font-size($n) {
    @if $n == 1 {
        font-size: 1rem;
    } @else {
        font-size: #{power(1.618, $n - 1)}rem;
    }
}

%title {
    @include font-size(3);
    font-family: $secondary-font-family;
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 1.3;
    }
}

%title-icon {
    display: block;
    width: 60px;
    margin: 0 0 2rem;
}

%title-strong {
    @include font-size(5);
    display: block;
    font-family: $base-font-family;
    font-style: normal;
    line-height: 1;
    color: $brand-color;

    @include media-query($on-laptop) {
        @include font-size(4);
    }

    @include media-query($on-palm) {
        @include font-size(3);
    }
}

%subtitle {
    @include font-size(3);
    margin-top: $spacing-unit;
    font-family: $secondary-font-family;
    font-weight: 600;
    text-transform: uppercase;

    @include media-query($on-palm) {
        @include font-size(2);
    }
}

%heading {
    @include font-size(2);
    margin-top: $spacing-unit;
    font-family: $secondary-font-family;
    font-weight: 600;
    text-transform: uppercase;
}

.home {
    img {
        @extend %vertical-rhythm;
        display: inline-block;
        width: 6.85em;

        @include media-query(1010px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h1 {
        display: inline-block;
        margin-left: 3rem;

        @include media-query(1010px) {
            display: block;
            margin-left: 0;
            text-align: center;
        }
    }
}

.post-list {
    h4 {
        @extend %subtitle;
    }

    ul {
        margin: 0;
    }

    li {
        display: block;
        list-style: none;
        margin-bottom: 3rem;

        > a {
            @include font-size(3);

            @include media-query($on-palm) {
                @include font-size(2);
            }
        }

        &:last-child:after {
            display: none;
        }
    }

    .post-meta {
        @include font-size(1);
        display: block;
    }
}

.project-banner {
    @extend %clearfix;
    margin: 3rem 0;
    padding: 1rem 2rem;
    border: 1px solid $grey-color-light;

    h3 {
        @include font-size(3);
    }

    .post-list {
        float: left;
        width: 50%;
        margin: 0;

        h4 {
            @include font-size(2);
            margin-bottom: 1rem;
            text-align: left;
        }

        li {
            text-align: left;

            &:after {
                display: none;
            }
        }

        .post-meta {
            display: inline;
        }
    }

    .streak-club {
        float: right;
    }
}

.page {
    h1 {
        // @extend %title;
        @extend %title-strong;

        &.lowercase {
            text-transform: lowercase;
        }

        & strong {
            // @extend %title-strong;
        }
    }

    h2 {
        @include font-size(2);
    }
}

.post {

}

.post-header {
    .post-author {
        @extend %title;
    }
}

.post-title {
    // @extend %title;
    @extend %title-strong;

    & strong {
        // @extend %title-strong;
    }
}

.post-title-icon {
    @extend %title-icon;
}

.post-meta {
    @include font-size(1);
    font-family: $secondary-font-family;
    font-weight: 600;
    text-transform: uppercase;
}

.post-content {
    h1 {
        @extend %title;
    }

    h2 {
        @extend %subtitle;
    }

    h3 {
        @extend %heading;
    }

    .part-header {
        @include font-size(1);

        strong {
            @include font-size(3);
            display: block;
            color: $brand-color;
        }
    }

    p {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}*2));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}*2));

        @include media-query($on-laptop) {
            max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
            max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        }

        @include media-query($on-palm) {
            font-size: 1.3rem;
        }
    }

    img {
        display: block;

        @include media-query($on-laptop) {
            padding: 8px 12px;
        }
    }

    pre {
        margin-left: -$spacing-unit;
        margin-right: -$spacing-unit;
        padding: $spacing-unit/2 $spacing-unit;

        @include media-query($on-laptop) {
            margin-left: 0;
            margin-right: 0;
            padding: 8px 12px;
        }
    }

    .emphasise {
        font-weight: bold;
        font-size: 1.1rem;
    }

    .share-elm a {
        @extend .external;
        display: block;
        // background: $brand-color;
        margin-top: -$spacing-unit / 2;
        padding: 8px 12px;
        border-radius: 0 0 4px 4px;
        text-align: right;
        // color: #fff;
        color: $brand-color;
    }

    .important {
        margin-left: -2rem;
        padding: 1rem 0 1rem 1rem;
        border-left: 1rem solid fade-out($brand-color, .7);

        &:before {
            display: block;
            margin-bottom: 1rem;
            content: "Note";
            font-family: $secondary-font-family;
            font-size: .8rem;
            text-transform: uppercase;
            color: $brand-color;
        }
    }

    .note {
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
        border: 1px solid $grey-color-light;
    }

    .update-note {
        background: #ccc;
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.post-footer {
    margin-top: 4rem;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;

    .follow {
        float: right;
    }
}

.essay {
    .secondary-title {
        @extend %subtitle;

        span {
            @extend %title;
            display: block;
            margin: 4rem 0;
        }
    }
}

.site-footer {
    padding: 0 0 4rem 0;
    text-align: center;
}
