// http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0
@mixin font-size($n) {
    @if $n == 1 {
        font-size: 1rem;
    } @else {
        font-size: #{power(1.618, $n - 1)}rem;
    }
}

%title {
    @include font-size(2);
    font-family: $secondary-font-family;
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 1.3;
    }
}

%title-icon {
    display: block;
    width: 60px;
    margin: 0 auto 2rem;
    text-align: center;
}

%title-strong {
    @include font-size(5);
    display: block;
    font-family: $base-font-family;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: $brand-color;

    @include media-query($on-laptop) {
        @include font-size(4);
    }

    @include media-query($on-palm) {
        @include font-size(3);
    }
}

%subtitle {
    @include font-size(2);
    margin-top: $spacing-unit;
    font-family: $secondary-font-family;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

%heading {
    @include font-size(1);
    margin-top: $spacing-unit;
    font-family: $secondary-font-family;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.home {
    img {
        @extend %vertical-rhythm;
        display: block;
        width: 6.85em;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-list {
    margin-left: auto;
    margin-right: auto;

    // &:before {
    //     display: block;
    //     content: " ";
    //     background: $grey-color-light;
    //     margin: 1rem auto;
    //     width: 5%;
    //     height: 1px;
    // }

    h4 {
        @include font-size(2);
        text-align: center;
    }

    ul {
        margin: 0;
    }

    li {
        display: block;
        list-style: none;
        text-align: center;

        &:after {
            display: block;
            content: " • "
        }

        &:last-child:after {
            display: none;
        }
    }

    .post-meta {
        display: block;
        font-size: 0.61rem;
    }
}

.project-banner {
    @extend %clearfix;
    margin: 3rem 0;
    padding: 1rem 2rem;
    border: 1px solid $grey-color-light;

    h3 {
        @include font-size(3);
    }

    .post-list {
        float: left;
        width: 50%;
        margin: 0;

        h4 {
            @include font-size(2);
            margin-bottom: 1rem;
            text-align: left;
        }

        li {
            text-align: left;

            &:after {
                display: none;
            }
        }

        .post-meta {
            display: inline;
        }
    }

    .streak-club {
        float: right;
    }
}

.page {
    h1 {
        @extend %title;

        &.lowercase {
            text-transform: lowercase;
        }

        & strong {
            @extend %title-strong;
        }
    }

    h2 {
        @include font-size(2);

        @include media-query($on-laptop) {
            @include font-size(1);
        }
    }
}

.post {

}

.post-header {
    .post-author {
        @extend %title;
    }
}

.post-title {
    @extend %title;

    & strong {
        @extend %title-strong;
    }
}

.post-title-icon {
    @extend %title-icon;
}

.post-meta {
    @include font-size(1);
    font-family: $secondary-font-family;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.post-content {
    text-align: justify;

    h1 {
        @extend %title;
    }

    h2 {
        @extend %subtitle;
    }

    h3 {
        @extend %heading;
    }

    .part-header {
        @include font-size(1);

        strong {
            @include font-size(3);
            display: block;
            color: $brand-color;
        }
    }

    p {

    }

    img {
        display: block;
        margin: 0 auto;
    }

    pre {
        margin-left: -$spacing-unit;
        margin-right: -$spacing-unit;
        padding: $spacing-unit/2 $spacing-unit;

        @include media-query($on-laptop) {
            margin-left: 0;
            margin-right: 0;
            padding: 8px 12px;
        }
    }

    .emphasise {
        font-weight: bold;
        font-size: 1.1rem;
    }

    .share-elm a {
        @extend .external;
        display: block;
        // background: $brand-color;
        margin-top: -$spacing-unit / 2;
        padding: 8px 12px;
        border-radius: 0 0 4px 4px;
        text-align: right;
        // color: #fff;
        color: $brand-color;
    }

    .aside {
        background: fade-out($brand-color, .7);
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;

        &:before {
            display: block;
            margin-bottom: 1rem;
            content: "Aside";
            font-size: .8rem;
            font-style: italic;
        }
    }

    .update-note {
        background: #ccc;
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.site-footer {
    padding: 0 0 4rem 0;
    text-align: center;
}