/**
 * Syntax highlighting styles
 */

.highlight {
    $plain: #ffffff;
    $number: #f6d298;
    $string: #f0c193;
    $keyword: #d76a6c;
    $operator: #d76a6c;
    $name: #e6e6e6;
    $nameFunction: #d76a6c;

    @extend %vertical-rhythm;

    pre,
    code {
        background: #333;
        color: $plain;
    }

    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { color: $keyword } // Keyword
    .o     { color: $operator } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { color: $keyword } // Keyword.Constant
    .kd    { color: $keyword } // Keyword.Declaration
    .kp    { color: $keyword } // Keyword.Pseudo
    .kr    { color: $keyword } // Keyword.Reserved
    .kt    { color: $keyword } // Keyword.Type
    .m     { color: $number } // Literal.Number
    .s     { color: $string } // Literal.String
    .na    { color: $name } // Name.Attribute
    .nb    { color: $name } // Name.Builtin
    .nc    { color: $name } // Name.Class
    .no    { color: $name } // Name.Constant
    .ni    { color: $name } // Name.Entity
    .ne    { color: $name } // Name.Exception
    .nf    { color: $nameFunction } // Name.Function
    .nn    { color: $name } // Name.Namespace
    .nt    { color: $name } // Name.Tag
    .nv    { color: $name } // Name.Variable
    .nx    { color: $name } // Name.Unknown
    .ow    { } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: $number } // Literal.Number.Float
    .mh    { color: $number } // Literal.Number.Hex
    .mi    { color: $number } // Literal.Number.Integer
    .mo    { color: $number } // Literal.Number.Oct
    .sb    { color: $string } // Literal.String.Backtick
    .sc    { color: $string } // Literal.String.Char
    .sd    { color: $string } // Literal.String.Doc
    .s2    { color: $string } // Literal.String.Double
    .se    { color: $string } // Literal.String.Escape
    .sh    { color: $string } // Literal.String.Heredoc
    .si    { color: $string } // Literal.String.Interpol
    .sx    { color: $string } // Literal.String.Other
    .sr    { color: $string } // Literal.String.Regex
    .s1    { color: $string } // Literal.String.Single
    .ss    { color: $string } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: $number } // Literal.Number.Integer.Long
}
