@import "vendor/normalize";
@import "vendor/foundation.min";
@import "vendor/tomorrow-night-eighties";
@import "vendor/nv.d3";

// Fonts
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-lig-webfont.eot");
    src: url("../fonts/lato-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-lig-webfont.woff") format("woff"), url("../fonts/lato-lig-webfont.ttf") format("truetype"), url("../fonts/lato-lig-webfont.svg#latolight") format("svg");
    font-weight: normal;
    font-style: normal;
}


// Brand
$red: #c03435;
$dark-orange: #e08226;
$orange: #eca531;
$light-orange: #f9c43a;
$lighter-orange: #ffd53f;

$font-content: "Lato", sans-serif;
$font-mono: Consolas, "Courier New", Courier, monospace;

// Global
html,
body {
    font-size: 20px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: $font-content;
    color: #555555;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

img.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

// Content
#site-content {
    position: relative;
    z-index: 2;
    margin: 20px auto 0;
    padding: 0 1em;
    max-width: 50em;
    background: fade-out(white, 0.2);

    // Structure
    h2 {
        margin: 1.8em 0 1em;
    }

    h3 {
        margin: 2em 0 1em;
    }

    h4 {
        margin: 2em 0 1em;
    }

    h5 {
        margin: 2em 0 0.5em;
    }

    small {
        font-size: 0.8em;
    }

    aside {
        margin: 40px 0;
        padding: 40px;
        background: lighten($red, 50%);
    }

    ul, ol {
        margin-left: 1.1em;
    }

    // Links
    a {
        color: lighten($red, 15%);

        &.tag {
            padding: 0.3em 0.5em;
            font-family: $font-mono;
            font-weight: normal;
            font-size: 0.9em;
            color: white;
            background: lighten($red, 15%);
        }

        &.tag-php, &.tag-python, &.tag-javascript {
            background: lighten($red, 5%);
        }

        &:hover {
            text-decoration: underline;
        }
    }

    // Code
    code {
        padding: 0.1em 0.5em;
        font-family: $font-mono;
        font-weight: normal;
        font-size: 0.9em;
        color: #e9e4e5;
        background: #333333;
    }

    pre {
        margin: 1em 0 2em;
        padding: 20px;
        overflow-x: auto;
        white-space: pre;
        border: 0;
        font-family: $font-mono;
        font-size: 0.9em;
        line-height: 1.9em;
        color: #e9e4e5;
        background-color: #333333;

        code {
            padding: 0;
            font-size: inherit;
        }
    }

    pre.filename {
        display: inline-block;
        margin-bottom: -1em;
        border: 0;
        min-width: 70%;
        font-family: $font-mono;
        color: $red;
    }

    // Quotes
    blockquote {
        position: relative;
        padding: 1em;
        border: 0;
        font-size: 1.3em;
        font-style: italic;
        color: $red;

        // &:before {
        //     position: absolute;
        //     top: -.3em;
        //     left: -.1em;
        //     content: "\201C";
        //     font-size: 3em;
        // }

        // &:after {
        //     position: absolute;
        //     bottom: -.3em;
        //     right: -.1em;
        //     content: "\201D";
        //     font-size: 3em;
        // }

        strong, p {
            color: $red;
        }

        a {
            color: $dark-orange;

            &:visited {
                color: $orange;
            }

            &:hover {
                color: $orange;
            }
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .chart {
        height: 400px;
    }

    .pagination {
        li {
            a {
                border-radius: 0;
                color: white;
                background: lighten($red, 15%);
            }

            &.active {
                a {
                    background: lighten($red, 5%);
                }
            }
        }
    }

    // Blog
    .post-list {
        .post {
            margin: 4em 0;
        }
    }

    .post {
        padding: 0 0 2em 0;
        border-bottom: 1px dotted lighten($red, 25%);

        header {
            margin-bottom: 2em;
            padding: 1em 1em 1em 0;
            border-bottom: 1em solid lighten($red, 25%);

            h1 {
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                font-size: 3em;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .date {
                color: $red;
            }
        }

        footer {
            .tags {
                margin: 1em 0;
            }

            .comments-link {
                display: block;
                margin: 3em 0 0;
            }
        }
    }

    .post-prevnext {
        margin: 0 0 2em;
    }
}
